.ProseMirror {
  text-align: start;
}

.toastui-editor-defaultUI {
  /* width: 50%; */
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}